@font-face {
  font-family: 'Mobo';
  src: url('/MOBO.ttf') format('truetype');
}
body{
  background-color: black;
  .title1{
    color: #FF0000;
    font-family: Mobo;
    font-style: italic;
    font-size: 7vw;
    position: absolute;
    text-shadow: 8px 8px 0px #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0 ;
  }
  .vimeo{
    width: 160vh;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    iframe{
      width: 160vh;
    height: 90vh;

    }
  }
}

@media screen and (max-width:480px) {
 
	@font-face {
    font-family: 'Mobo';
    src: url('/MOBO.ttf') format('truetype');
  }
  body{
    background-color: black;
    .title1{
      color: #FF0000;
      font-family: Mobo;
      font-style: italic;
      font-size: 7vw;
      position: absolute;
      text-shadow: 2px 2px 0px #FFF;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity:0 ;
    }
    .vimeo{
      width: 90vw;
      height: calc(90vw/16*9);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      iframe{
        width: 90vw;
        height: calc(90vw/16*9);
  
      }
    }
  }
  
 
}